---
import Navbar from "../components/Navbar.vue";
import MainPage from "../components/MainPage.vue";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>Doggo Land - Home</title>
	</head>
  <body>
    <Navbar />
    <MainPage />
	</body>
</html>
