---
import Navbar from "../components/Navbar.vue";
import Memes from "../components/Memes.vue";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>Doggo Land - Memes</title>
	</head>
  <body>
    <Navbar />
    <Memes />
	</body>
</html>
